/* Reset cơ bản */
body {
    font-family: Tahoma, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #eef2f3, #a9cff0);
}

/* Container chính */
.container.container1 {
    position: relative;
    background-color: white;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #dde1e7;
    text-align: center;
}


/* Các input */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #1056fa;
    outline: none;
    box-shadow: 0 0 5px rgba(16, 86, 250, 0.5);
}

/* Label */
label {
    float: left;
    font-size: 16px;
    margin: 5px 0;
}

label.required::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

/* Button chính */
button.button1 {
    background-color: #1056fa;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.button1:hover {
    background-color: #0c47c3;
}


.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #111;
}

.container h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #1056fa;
}