/* Giao diện tổng quát */
.signup {
    padding: 30px 0;
}

.contain {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    width: 400px;
    background: #FFFFFF;
    margin: auto;
    border-radius: 5px;
}

/* Tiêu đề của form */
h5 {
    margin: 0;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

/* Nội dung form */
.signup-content {
    padding-top: 20px;
}

.form-SignUp {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Các nhóm form */
.form-group {
    padding: 10px;
}

.form-group input {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 0;
    text-indent: 5px;
}

.form-group input:focus {
    outline-color: rgba(194, 219, 254, 1);
}

/* Nút bấm */
button {
    margin-bottom: 10px;
    background: #3a97e9;
    color: white;
    padding: 10px;
    padding-right: 16px;
    font-weight: 700;
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

/* Màu sắc và thông báo */
.text-danger {
    font-size: 14px;
}

.text-success {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #797777;
    text-decoration: none;
}

.close-btn:hover {
    color: #111;
}
body {
    font-family: Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a9cff0;
}